<h3>{{title}}</h3>
<p>
    Product information management means managing the information required to market and sell products through distribution channels. A central set of product data can be used to share/receive information with media such as web sites, print catalogs, ERP systems, PLM systems and electronic data feeds to trading partners.
</p>
<p>
    Before we are going to visit this web portal, there are certain features need to be dislosed to satisfy the user interaction and experince in a more trendy way.
</p>
<ul>
    <li>Dashboard is equiped with all CURD operation controls like ADD, EDIT  and DELETE.</li>
    <li>All the operations are authenticated with secured login.</li>
    <li>Dashboard contents are read only if user is not authenticated. </li>
    <li>Header is having navigational routes with short login information with logout option. </li>
    <li>Carousel is meant to rotate top 3 products in the list, user can use corresponding buttons to go for next and prev options.</li>
    <li>Top Rated button on carousel is meant to see the graphical view of the top products with their view ratings on Popup container.</li>
    <li>Graph view is having a custom navigation link to update the ratings according to the selection.</li>
    <li>Customized Rating page is displaying dynamic controls with default ratings, once user change the selected values and click on Update rates, it will update the main product data.</li>
    <li>Login and Registration feature is available on the portal.</li>
    <li>Global product search option is available on top of product list</li>
</ul>
<p><small>Capstone project is the final assignment for the FED Angular Training conducted by the Wipro Digital Trained Angular Team. </small></p>
