<h3>{{title}}</h3>
<button (click)="backBtnClick()" class="btn btn-secondary mb-2"><i class="fas fa-chevron-left"></i> Back</button>
<div class="jumbotron">
  <form #rateForm="ngForm" (submit)="updateRates( rateForm )">
    <ng-template ngFor let-rate [ngForOf]="form.rates" let-index="index" let-isLast="last" class="form-group">
      <label for="name" class="mt-2mr-sm-2">{{rate.productName}}:</label>
      <select class="form-control mb-2" name="rate_{{ rate.id }}" [(ngModel)]="rate.rate">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </ng-template>

    <button type="submit" class="btn btn-primary">Update Rates</button>&nbsp;
  </form>
</div>
